<!--메인 홈-->
{% extends 'base_index.html' %}
{% load staticfiles %}
{% block content %}

<body>
	<header class="main_header_area ak_menu navbar_fixed">
            <div class="main_menu_area">
                <div class="container">
                    <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="img/logo-6.png" alt=""></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    	<form action="{% url 'main:filter' %}" method="POST">
                    	{% csrf_token %}
                        <ul class="nav navbar-nav tabs">
                        	<li><input type="submit" name="action" value="모두" class="transparent-input"></li>
                            <li><input type="submit" name="action" value="월" class="transparent-input"></li>
                            <li><input type="submit" name="action" value="화" class="transparent-input"></li>
                            <li><input type="submit" name="action" value="수" class="transparent-input"></li>
                            <li><input type="submit" name="action" value="목" class="transparent-input"></li>
                            <li><input type="submit" name="action" value="금" class="transparent-input"></li>
                            <li class=""><a href="{% url 'main:upload' user%}">추가하기</a></li>
                        </ul>
                        <form action="{% url 'main:filter' %}" method="POST">
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="#">Afford To Print : 어푸어푸</a></li>
            </ul>
                    </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
</header>


<!-- 카드는 나중에 다시 넣어보자 -->	
        <section class="price_table_area" id="price">
            <div class="container">
                <div class="main_title">
                    <h2>대리프린트 목록</h2>
                </div>
                <div class="price_table_inner">
                	{% for item in prints %}
                    <div class="price_item">
                        <div class="price_header">
                            <h3>{{item.schedule.lecture.name}}</h3>
                            <h2>{{item.price}}</h2>
                            <h6>{{item.uploader}}</h6>
                        </div>
                        <ul>
                            <div class="time-elapsed"></div>
                            <li class="date"><a href="#">{{ item.date|date:'Y-m-d H:m:s' }}</a></li>                  
                        </ul>
                        <a class="price_btn" href="#">신청하기</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
      
    </body>
<script type="text/javascript">
	var getDate = document.getElementsByClassName("date");
	var startDateTime = new Array();
	var startStamp = new Array();

	for (var i = 0; i < getDate.length; i++) {
    	// getDate[i].innerHTML = getDate[i].textContent;
	    startDateTime[i] = new Date(getDate[i].textContent)
	    startStamp[i] = startDateTime[i].getTime();
    	// startStamp = getDate[i].textContent.getTime();
	}
	// var startDateTime = new Date(2019,7,10,2,1,0,0); // YYYY (M-1) D H m s (start time and date from DB)
	// var startStamp = startDateTime.getTime();

	var newDate = new Date();
	var newStamp = newDate.getTime();

	var timer;
	var cnt = getDate.length;
	// var self = this;

	function updateClock() {
	    newDate = new Date();
	    newStamp = newDate.getTime();
	    var diff = new Array();
	    var d = new Array();
	    var h = new Array();
	    var m = new Array();
	    var s = new Array();

		for (var i = 0; i < cnt ; i++) {
	    	diff[i] = Math.round((startStamp[i]-newStamp)/1000);
	    	d[i] = Math.floor(diff[i]/(24*60*60));
		    diff[i] = diff[i]-(d[i]*24*60*60);
		    h[i] = Math.floor(diff[i]/(60*60));
		    diff[i] = diff[i]-(h[i]*60*60);
		    m[i] = Math.floor(diff[i]/(60));
		    diff[i] = diff[i]-(m[i]*60);
		    s[i] = diff[i];
		}

		var elements = document.getElementsByClassName("time-elapsed");
		var header = document.getElementsByClassName("price_header");
		var btn = document.getElementsByClassName("price_btn");
    	for (var i = 0; i < cnt; i++) {
    		if(d[i]>=0)
        		elements[i].innerHTML = d[i]+" 일 "+h[i]+" 시간 "+m[i]+" 분 "+s[i]+" 초";
        	else{
        		elements[i].innerHTML = "--";
        		header[i].style.backgroundColor = "gray"
        		btn[i].style.backgroundColor = "gray"
        		btn[i].style.visibility = "hidden"
        	}
        		
        	
        	// header[i].style.backgroundColor = "gray"
   		}
	    
	}

	setInterval(updateClock, 1000);

</script>
<style>
    input.transparent-input{
       background-color:transparent !important;
       border:none !important;
       box-shadow:none !important;
    }
</style>
    {% endblock %}