{% extends 'base.html' %} <!-- base.html의 내용을 가져오겠다. -->
{% load staticfiles %}
{% block content %}

<section></section>
<!-- 카드는 나중에 다시 넣어보자 -->	
        <section class="price_table_area" id="price">
            <div class="container">
                <div class="main_title">
                    <h2>대리프린트 목록</h2>
                </div>
                <div class="price_table_inner">
 
                    <div class="price_item">
                        <div class="price_header">
                            <h3>프로필</h3>
                            <h2>강의명</h2>
                         
                        </div>
                        <ul>

                            <li>배송비: </li>
                            <li>타이며</li>                            
                        </ul>
                        <a class="price_btn" href="#">PURCHASE NOW</a>
                    </div>

                </div>
            </div>
        </section>				

{% endblock %} 