{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @font-face { font-family: 'Malssami815'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Malssami815.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: '777Balsamtint'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff'); font-weight: normal; font-style: normal; }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'image/rubber-duck.png' %}" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>어푸어푸</title>

    <!-- Icon css link -->
    <link href="{% static 'css/index/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index/icofont.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'css/index/bootstrap.css' %}" rel="stylesheet">

    <!-- Rev slider css -->
    <link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/animate-css/animate.css' %}" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="{% static 'vendors/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/owl-carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendors/nice-selector/nice-select.css' %}" rel="stylesheet">

    <link href="{% static 'css/index/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/index/responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

    <body>
        <!--home.html으로 돌아올 수 있는 아이콘 하나 필요할 듯-->
        {% if user.is_active %}
        <div style="font-color: black; text-align:center; margin-top: 30px; ">
            <a style = "font-family: 'Malssami815'; font-size: 45px;" href = "{% url 'main:home' %}">Afford to Print: 어푸어푸</a>
        </div>
        <div style ="text-align: right; font-family: '777Balsamtint'; font-size:20px; margin-right: 20px; padding-top: 30px;">
        <!--프로필사진을 누르면 mypage.html으로-->
        <a href = "{% url 'main:mypage' user.username %}" >안녕하세요 {{ user.username }} 님! <img src="{% static 'image/duck2.png'  %}" style = "width: 30px; height: 30px; border-radius: 50%;" title="마이페이지"></a>
        {% comment %} <!--알림-->
        <a href="#"><img src="{% static 'image/bell2.png' %}" style = "width: 30px; height: 30px; border-radius: 50%;"></a> {% endcomment %}
        <!--로그아웃-->
        <a href="{% url 'authservice:logout' %}"><img src="{% static 'image/gologout.png' %}" style = "width: 30px; height: 30px; border-radius: 50%;" title="로그아웃"></a><br>
        <h5> 포인트: <h5>
        </div>
        {% else %}
        {% endif %}

        {% block content %}

        {% endblock %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/index/jquery-2.2.4.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/index/bootstrap.min.js' %}"></script>
        <!-- Rev slider js -->
        <script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        <!-- Extra Plugin -->
        <script src="{% static 'vendors/parallax/jquery.parallax-scroll.js' %}"></script>
        <script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/counterup/waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'vendors/flexslider/flex-slider.js' %}"></script>
        <script src="{% static 'vendors/flexslider/mixitup.js' %}"></script>
        <script src="{% static 'vendors/swiper/js/swiper.min.js' %}"></script>
        <script src="{% static 'vendors/flipster-slider/jquery.flipster.min.js' %}"></script>
        <script src="{% static 'vendors/nice-selector/jquery.nice-select.min.js' %}"></script>

        <script src="{% static 'js/index/theme.js' %}"></script>
    </body>
</html>
