<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#2a2a2a" />
    <meta name="author" content="LIKE LION" />
    <meta name="description" content="HACK YOUR LIFE. 내 아이디어를 내 손으로 실현한다." />
    <meta property="og:title" content="HACKATHON :: 해커톤" />
    <meta property="og:url" content="https://ideathon.likelion.org/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="HACK YOUR LIFE. 내 아이디어를 내 손으로 실현한다.">

    <title>HACKATHON :: 해커톤</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="Ep4mqnsyi2NMWHIIu1+c4ucktq5ulqBjiUrRaI/C66S6eoUG09aHD52UQIBXuys4jpWGCpixCIWfUKuWMqDmIA==" />

    <link rel="stylesheet" media="all" href="{% static 'css/hack/hack.css' %}" data-turbolinks-track="reload" />
    <script src="/assets/hackathon/application-ed36c95324481c11b06cefc53ddeba80d84f2b77237020ebfab6d7898649e168.js" data-turbolinks-track="reload"></script>
      <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90241717-2', 'auto');
    ga('send', 'pageview');
    </script>


    <!-- favicons -->
    <link rel="shortcut icon" href="https://event.likelion.org/assets/favicons/favicon-841c731d4bf227cdbfe4fe4245d7750b2c18c37f61810aa6100de9174db89e4f.ico" />
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://event.likelion.org/assets/favicons/favicon-152-e6c0654188bcb660b2d7582e42aaa29d977f3a7cc26ff1cacafc79b90f73f3f2.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://event.likelion.org/assets/favicons/favicon-120-f7b42ac475d76685a746bfd55e9d9de8c5e006f9b6afb90331a72c5942da7e59.png">

    <!-- custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Montserrat:700" rel="stylesheet">
  </head>

  <body>

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header__contents">
                    <h1 class="header__title">
                    APAP
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <nav class="gnb">
        <h2 class="sr-only">메뉴</h2>
        <div class="container">
            <ul class="gnb__menu">
                <li class="on ">
                <a aria-label="해커톤 프로젝트들" href="/hackathon">projects</a>
                </li>
                <li class="">
                <a aria-label="마이 페이지" href="/hackathon/mypage">my page</a>
                </li>
            </ul>
        </div>
    </nav>

    <main id="main">
      <section class="ideas">
        <div class="container">
          <div class="row horizontal vertical">
            <h2 class="section__title">
              대리프린트 목록
            </h2>
          </div>
          <div class="row" style="margin-top: 40px;">
          {% for item in prints %}
            <div class="idea">
              <a class="hit" href="/hackathon/projects/95">
                <div class="idea__info">
                  <h4 class="idea__head">
                    {{item.schedule.lecture.name}}
                  </h4>
                  <p class="idea__text">
                    {{item.price}}
                  </p>
                  <ul>
                      <div class="time-elapsed"></div>
                      <li class="date"><a href="#">{{ item.date|date:'Y-m-d H:m:s' }}</a></li>                  
                  </ul>
                </div>
                <div class="idea__user">
                  <div class="user__img">
                    <h6>{{item.uploader}}</h6>
                    <a class="price_btn" href ="{% url 'main:detail' item.id %}">상세보기</a>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>
    </main>


    <!-- footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <p class="copyright">&copy; 멋쟁이 사자처럼 2019</p>
    </div>
  </div>
</footer>


  </body>
</html>
