{% extends 'base.html' %} <!-- base.html의 내용을 가져오겠다. -->
{% load staticfiles %}
{% block content %}
<section class="hero-area-fix">
    <div class="hero-area" id="water">
        <div class="container">
            <div class="row">
                <div class="hero-text">
                    {% if user.is_active %}
                        <h2>잘못된 접근입니다.<br>로그아웃 후 다시 로그인 해주세요!</h2><br><br>
                        <a class="btn buy-now" href="{% url 'authservice:logout' %}">LogOut</a><br><br>
                    {% else %}
                    <h1>APAP</h1>
                    <div id="typed-strings">
                        <h3>대리 프린트 서비스의 시작</h3>
                        <h3>어푸어푸</h3>
                        <h3>동국대 멋쟁이 사자처럼</h3>
                    </div>
                    <h3><span id="typed"></span></h3>
                    <h4>계정이 없으시다면, <a href="{% url 'authservice:register' %}">회원가입</a>을 먼저 해주세요 :)</h4>
                    <form class="login" method="POST" action="{% url 'authservice:login' %}">
                    
                    {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-12">
                            <input
                                name="username"
                                class="form-control"
                                placeholder="Your Name"
                                required=""
                                autofocus="autofocus"
                                id="username"
                                type="text"
                            />
                            </div>
                            <br>
                            <div class="form-group col-md-12">
                            <input
                                name="password"
                                class="form-control"
                                placeholder="Password"
                                required=""
                                type="password"
                                id="id_password1"
                            />
                        </div>
                        <br><br><br>
                        <div class="form-group col-md-12">
                            <input type="submit" class="btn buy-now" value="Sign In">
                        </div>
                        </form>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</section>

{% endblock %}
